body {
    background-color: black;
}

footer {
    background-color: mediumpurple;
    color: black;
    position:fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
}